@model IEnumerable<PhotoContest.Infrastructure.Models.ViewModels.Contest.ContestViewModel>
@{
    ViewBag.Title = "Active Contests";
}

<h2 class="text-center">Active Contests</h2>
<div class="row jumbotron">
    @foreach (var contest in Model)
    {
        <div class="col-md-6">
            @Html.Partial("_ActiveContest", contest)
        </div>
    }
</div>