@model PhotoContest.Infrastructure.Models.ViewModels.Contest.PreviewInactiveContestViewModel
@{
    ViewBag.Title = "PreviewInactiveContest";
}

<div class="jumbotron">
    @if (Model.Winners.Any())
    {
        <div class="row">
            <div class="text-center alert alert-dismissible alert-success">
                <h2>@Model.Winners.First().ContestTitle</h2>
                <h3>@Model.Winners.First().ContestDescription</h3>
            </div>
        </div>
        <br />
        <div class="row">
            @foreach(var contestWinner in Model.Winners)
            {
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Place #@contestWinner.Place Winner</h3>
                        </div>
                        <div class="panel-body">
                            @contestWinner.Winner
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <h2 class="text-center">There is no information about this contest at the moment.</h2>
    }
</div>