body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

h1, h2, h3, h4, h5, h6 {
    word-wrap: break-word;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a:hover {
    text-decoration: none;
}

#upload-picture {
    width: 30%;
}

.picture {
    display: inline-block;
    width: 150px;
    height: 150px;
}

    .picture > a > img {
        width: 150px;
        height: 150px;
    }

.contests {
    display: block;
    width: 70%;
    margin: 0 auto;
}

.contest {
    display: inline-block;
    min-width: 30%;
    margin: 5px;
}

.picturePreview {
    max-width: 240px;
    max-height: 200px;
}

#suggestions {
    margin-left: 1%;
    width: 30%;
}

    #suggestions > li {
        padding: 5px;
    }

        #suggestions > li:hover {
            background-color: rgb(237, 238, 255);
            cursor: pointer;
        }

#invite-user-username {
    display: inline-block;
}

#usernameCheckResult, #emailCheckResult {
    color: #ff0000;
}

#notifications {
    position: fixed;
    display: none;
    width: 100%;
    z-index: 100;
}

.alert {
    margin-bottom: 0;
    width: 100%;
}

.contest-panel {
    height: 142px;
    max-height: 150px;
    box-shadow: 2px 2px 2px #697075;
}

.contest-panel-top {
    box-shadow: 2px 2px 2px red; 
}

.invitation {
    margin-top: 20px;
    width: 50%;
}

.profile-sm-img {
    max-width: 50%;
    max-height: 61px;
}

.manage-picture {
    max-width: 180px;
    max-height: 180px;
}


.strategy-number {
    margin-top: 2%;
    margin-left: 5%;
    width: 20%;
}

.strategy-date {
    margin-left: 10%;
    margin-top: 2%;
}


/*Upload btn style*/
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}